[user]
	name = pes18fan
	email = pes18fan@disr.it
[init]
	defaultBranch = main
[alias]
    ld = log --oneline --decorate --graph
    dh = diff HEAD
    c = commit
    a = add -A
[pull]
	rebase = true
[core]
	editor = nvim
[fetch]
	prune = true
