@import "colors.css";

* {
    font-family: Iosevka Nerd Font, monospace;
    font-size: 12pt;
}

window#waybar {
    color: @on_surface;
    background: alpha(@background, 0.8);
}

tooltip {
    background: @background;
    color: @on_surface;
}

#workspaces button {
    padding: 0 4px;
    border-radius: 0;
    color: shade(@on_surface_variant, 0.5);
    transition: all 0.2s ease;
    border-bottom: 2px solid transparent;
}

#workspaces button:hover {
    color: @on_surface_variant;
    border-bottom: 2px solid @primary;
}

#workspaces button.active {
    color: @on_surface;
}

#workspaces button.urgent {
    color: @background;
    background: @error;
    animation: blink 1.5s infinite;
}

@keyframes blink {
    50% { background: @on_surface; }
}

#tray {
    background: @tertiary;
    color: @inverse_on_surface;
}

#workspaces,
#tray,
#language,
#backlight, 
#pulseaudio,
#clock, 
#network, 
#bluetooth, 
#battery, 
#idle_inhibitor, 
#power-profiles-daemon,
#custom-power
{
    padding: 0 10px;
}

#language,
#backlight, 
#pulseaudio {
    background: @secondary;
    color: @inverse_on_surface;
}

#clock, 
#network, 
#bluetooth, 
#battery, 
#idle_inhibitor, 
#power-profiles-daemon,
#custom-power
{
    background: @primary;
    color: @inverse_on_surface;
}

#battery.warning {
   color: @on_error;
}

#battery.critical {
    color: @error;
}

#battery.charging {
    color: @inverse_on_surface;
}
